.adver_home{
    background: linear-gradient(90deg,#fb637e 0,#8985a5 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: 500;
    padding: 10px;
    letter-spacing: 1.4px;
    cursor: pointer;
    transition: 0.4s;
}

.adver_home>P:hover{
opacity: 0.7;
}