

.header_class{
    display: grid;
    grid-template-columns: 20% 60% 20%;
    background-color: #8CD0E3;
    padding: 10px;
}

.header_icon_group{
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: flex-start;
    margin-top: 13px;
}

.header_icon{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    gap: 7px;
    cursor: pointer;
    transition: 0.5s;
}

.header_icon:hover{
    opacity: 0.7;
}

li {
    list-style-type: none;
  }
  

.logo_dev{
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 gap: 20px;
 margin-top: 20px;
}

.logo{
 font-size: 50px;
 font-weight: 700;
 font-family: CeraStencilPRO;
 color: white;
 cursor: pointer;
 transition: 0.5s;
}

.logo:hover{
opacity: 0.7;
}

.nav_section{
    display: flex;
    align-items: center;
    gap: 25px;
    padding-bottom: 10px;
}

.nav_element{
    color: white;
    cursor: pointer;
    transition: 0.5s;
}

.nav_element:hover{
    opacity: 0.7;
}